@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7C3AED;
  --accent-color: #FFFFFF;
  --secondary-accent: rgba(0, 0, 0, 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .shadow-custom {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }
}